<div class="container" fxLayout="column" fxLayoutAlign="space-around center">
  <h1>Antes de empezar...</h1>
  <div class="texts-container" fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column">
    <div fxLayout="column" fxFlex="20">
      <img src="assets/images/volume.svg" />
      <p>Asegúrate de tener el <b>volumen activado</b></p>
    </div>
    <div fxLayout="column" fxFlex="20">
      <img src="assets/images/clock.svg" />
      <p>Los bits pasan automáticamente cada <b>2 segundos.</b></p>
    </div>
    <div fxLayout="column" fxFlex="20">
      <img src="assets/images/pause.svg" />
      <p>Puedes detener el pase con la <b>barra espaciadora</b> o haciendo <b>clic en la pantalla.</b></p>
    </div>
  </div>
  <a class="begin" fxLayoutAlign="center center">
    <img alt="play" src="assets/images/play-white.svg">
    Empezar pase
  </a>
</div>
