<mat-toolbar class="navbar" fxLayoutAlign="space-between center">
  <span>Tarjetas</span>
  <div class="buttons-container" fxLayout="row" fxLayoutGap="18px">
    <button mat-mini-fab fxLayoutAlign="center center">
      <img class="group" alt="settings" src="/assets/images/group.svg">
    </button>
    <button mat-mini-fab fxLayoutAlign="center center" (click)="openSettings()">
      <img class="settings" alt="settings" src="/assets/images/settings.svg">
    </button>
    <button mat-mini-fab fxLayoutAlign="center center">
      <img class="logout" alt="logout" src="/assets/images/logout.svg">
    </button>
  </div>
</mat-toolbar>
